<global-filter></global-filter>

<h2>Overview ATLAS</h2>
<h3>
    Showing {{overview.overview.startIndex}} to {{overview.overview.endIndex}}
    out of {{overview.overview.count}} from the last {{globalFilter.time_window || '1' }}
    <span data-ng-show="globalFilter.time_window == 1 || !globalFilter.time_window">hour</span>
    <span data-ng-show="globalFilter.time_window > 1">hours</span>
</h3>

<pagination rotate="false"
    page="overview.overview.page" total-items="overview.overview.count" items-per-page="overview.overview.pageSize"
    max-size="15" class="pagination" boundary-links="true"
    on-select-page="pageChanged(page)"></pagination>

<table class="table table-small">
    <thead>
        <tr>
            <th>
                <i class="icon-th-list" data-ng-click="filterBy({source_se: ''})"></i>
                Source
            </th>
            <th>
                <i class="icon-th-list" data-ng-click="filterBy({dest_se: ''})"></i>
                Destination
            </th>
            <th style="width: 3.5%">
                <i class="icon-th-list" data-ng-click="filterBy({vo: ''})"></i>
                VO
            </th>
            <th  style="width: 7.5%">
                <i class="icon-th-list" data-ng-click="filterBy({activity: ''})"></i>
                Activities
            </th>
            <th style="width: 6%" class="numeric">
                <span data-order-by="submitted">Submitted</span>
            </th>
            <th style="width: 4%" class="numeric">
                <span data-order-by="active">Active</span>
            </th>
            <th style="width: 4.5%" class="numeric">
                <span data-order-by="staging">Staging</span>
            </th>
            <th style="width: 5%" class="numeric">
                <span data-order-by="started">S.Active</span>
            </th>
            <th style="width: 5%" class="numeric">
                <span data-order-by="finished">Finished</span>
            </th>
            <th style="width: 3.5%" class="numeric">
                <span data-order-by="failed">Failed</span>
            </th>
            <th style="width: 3.5%" class="numeric">
                <span data-order-by="canceled">Cancel</span>
            </th>

            <th style="width: 7%" class="numeric">
                <span data-order-by="rate">Rate (last 1h)</span>
            </th>
            <th style="width: 6%" class="numeric">
                <span title="VO Throughput">VO Thr.</span>
            </th>
            <th style="width: 1.5%"></th>
        </tr>
    </thead>
    <tbody data-ng-repeat="o in overview.overview.items" data-ng-class-odd="'odd'" class="overview" data-ng-class="pairState(o)">
        <tr>
			<td>
                <i class="icon-plus" data-ng-click="o.show = !o.show"></i>
                <span class="filter-on-click" data-ng-click="filterBy({source_se: o.source_se})" title="Filter source SE">
                    {{ o.source_se }}
                </span>
            </td>
			<td>
			    <span class="filter-on-click" data-ng-click="filterBy({dest_se: o.dest_se})" title="Filter destination SE">
                    {{ o.dest_se }}
			    </span>
			</td>
			<td>
                <span class="filter-on-click" data-ng-click="filterBy({vo: o.vo_name})" title="Filter VO">
                    {{ o.vo_name }}
                </span>
            </td>
            <td>
                <span class="filter-on-click" data-ng-click="filterBy({activity: o.activity})" title="Filter activity">
                    {{ o.activity }}
			    </span>
            </td>
            <td class="numeric">
                <a href="#/jobs?source_se={{o.source_se|escape}}&dest_se={{o.dest_se|escape}}&vo={{o.vo_name|escape}}&with_file=SUBMITTED&time_window={{globalFilter.time_window}}">
                    <span data-optional-number="{{o.submitted}}"></span>
                </a>
			</td>
            <td class="numeric">
                <span data-ng-show="o.active_fixed">
                    <i class="icon-magnet" title="Number of active fixed"></i>
                </span>
                <a href="#/jobs?source_se={{o.source_se|escape}}&dest_se={{o.dest_se|escape}}&vo={{o.vo_name|escape}}&with_file=ACTIVE&time_window={{globalFilter.time_window}}">
                    <span data-optional-number="{{o.active}}" data-decimals="0"></span>
                </a>
            </td>
            <td class="numeric">
                <a href="#/jobs?source_se={{o.source_se|escape}}&dest_se={{o.dest_se|escape}}&vo={{o.vo_name|escape}}&with_file=STAGING&time_window={{globalFilter.time_window}}">
                    <span data-optional-number="{{o.staging}}" data-decimals="0"></span>
                </a>
            </td>
            <td class="numeric">
                <a href="#/jobs?source_se={{o.source_se|escape}}&dest_se={{o.dest_se|escape}}&vo={{o.vo_name|escape}}&with_file=STARTED&time_window={{globalFilter.time_window}}">
                    <span data-optional-number="{{o.started}}" data-decimals="0"></span>
                </a>
            </td>
            <td class="numeric">
                <a href="#/jobs?source_se={{o.source_se|escape}}&dest_se={{o.dest_se|escape}}&vo={{o.vo_name|escape}}&with_file=FINISHED&time_window={{globalFilter.time_window}}">
                    <span data-optional-number="{{o.finished}}" data-decimals="0"></span>
                </a>
            </td>
            <td class="numeric">
                <a href="#/jobs?source_se={{o.source_se|escape}}&dest_se={{o.dest_se|escape}}&vo={{o.vo_name|escape}}&with_file=FAILED&time_window={{globalFilter.time_window}}">
                    <span data-optional-number="{{o.failed}}" data-decimals="0"></span>
                </a>
            </td>
            <td class="numeric">
                <a href="#/jobs?source_se={{o.source_se|escape}}&dest_se={{o.dest_se|escape}}&vo={{o.vo_name|escape}}&with_file=CANCELED&time_window={{globalFilter.time_window}}">
                    <span data-optional-number="{{o.canceled}}" data-decimals="0"></span>
                </a>
            </td>
            <td class="numeric">
                <span data-optional-number="{{o.rate}}" data-suffix="%" data-decimals="2" data-display-zero="true"></span>
            </td>
            <td class="numeric">
                <span data-optional-number="{{o.current}}" data-suffix="MB/s" data-decimals="2"></span>
            </td>
            <td>
                <a href="#/optimizer/detailed?source={{o.source_se|escape}}&destination={{o.dest_se|escape}}&time_window={{globalFilter.time_window}}">
                    <i class="icon-signal"></i>
                </a>
            </td>
        </tr>
        <tr>
            <td colspan="13" style="background: #CCC" data-ng-show="o.show">
                <dl>
                    <!-- <dt>Jobs</dt>
                    <dd>
                        <span data-ng-repeat="(state, count) in o.job_states">
                            <a href="#/jobs?source_se={{o.source_se|escape}}&dest_se={{o.dest_se|escape}}&vo={{o.vo_name|escape}}&state={{state|uppercase}}&time_window={{globalFilter.time_window}}">
                                {{count}} {{state}}
                            </a>
                        </span>
                    </dd>-->
                    <dt>Average transfer duration</dt>
                    <dd><span data-optional-number="{{o.avg_duration}}" data-suffix="seconds" data-decimals="2"></span></dd>
                    <dt>Most frequent error</dt>
                    <dd>{{o.most_frequent_error}}</dd>
                </dl>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="numeric">{{overview.summary.submitted}}</td>
            <td class="numeric">{{overview.summary.active}}</td>
            <td class="numeric">{{overview.summary.staging}}</td>
            <td class="numeric">{{overview.summary.started}}</td>
            <td class="numeric">{{overview.summary.finished}}</td>
            <td class="numeric">{{overview.summary.failed}}</td>
            <td class="numeric">{{overview.summary.canceled}}</td>
            <td class="numeric">
                <span data-optional-number="{{overview.summary.rate}}" data-suffix="%" data-decimals="2"></span>
            </td>
            <td class="numeric">
                <span data-optional-number="{{overview.summary.current}}" data-suffix="MB/s" data-decimals="2"></span>
            </td>
            <td>&nbsp;</td>
        </tr>
    </tfoot>
</table>

<pagination rotate="false"
    page="overview.overview.page" total-items="overview.overview.count" items-per-page="overview.overview.pageSize"
    max-size="15" class="pagination" boundary-links="true"
    on-select-page="pageChanged(page)"></pagination>

<div>
    <p>
        <span class="label label-important">Bad shape</span>
        There are submitted but no active, less than 3 active with more than 3 submitted, or a failure rate &gt;= 20%<br/>
        <span class="label label-warning">Underused</span>
        Less than three actives, but no submitted waiting.<br/>
        <span class="label label-success">Good shape</span>
        Success rate &gt;= 90%, or more than three actives with a failure rate &lt; 20%.<br/>
        <span class="label">Nothing special</span>
        No active, no submitted, success rate between 80% and 90%.
    </p>
</div>