<global-filter></global-filter>

<h3>
    Details for {{filter.source}} → {{filter.destination}}
</h3>

<style>
    .line-plot {
        width: 850px;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .x>.tick {
        display: none;
    }

    .x>.tick:first-of-type {
        display: block;
    }

    .x>.tick:last-of-type {
        display: block;
    }
</style>


<div class="row-fluid">
	<div class="span4">
        <canvas id="throughputPlot" height="200">
        </canvas>
	</div>

	<div class="span4">
        <canvas id="successPlot" height="200">
        </canvas>
	</div>

    <div class="span4">
        <canvas id="filesizePlot" height="200">
        </canvas>
	</div>
</div>

<div>
    <pagination rotate="false"
        page="optimizer.evolution.page" total-items="optimizer.evolution.count" items-per-page="optimizer.evolution.pageSize"
        max-size="15" class="pagination" boundary-links="true"
        on-select-page="pageChanged(page)"></pagination>

    <table class="table">
        <thead>
            <tr>
                <th width="10%">Timestamp</th>
                <th width="8%" class="numeric">Decision</th>
                <th width="8%" class="numeric">Running</th>
                <th width="8%" class="numeric">Queue</th>
                <th width="10%" class="numeric">Success rate (last 1min)</th>
                <th width="10%" class="numeric">Throughput</th>
                <th width="10%" class="numeric">EMA</th>
                <th width="8%" class="numeric">Diff</th>
                <th>Explanation</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="o in optimizer.evolution.items" data-ng-class-odd="'odd'" data-ng-class="getRowClass(o.diff)">
                <td>{{ o.datetime }}</td>
                <td class="numeric">{{ o.active }}</td>
                <td class="numeric">{{ o.actual_active }}</td>
                <td class="numeric">{{ o.queue_size }}</td>
                <td class="numeric">{{ o.success|number:2 }}%</td>
                <td class="numeric">{{ o.throughput|filesize }}/s</td>
                <td class="numeric">{{ o.ema|filesize }}/s</td>
                <td class="numeric">{{ o.diff }}</td>
                <td>{{ o.rationale }}</td>
            </tr>
        </tbody>
    </table>

    <pagination rotate="false"
        page="optimizer.evolution.page" total-items="optimizer.evolution.count" items-per-page="optimizer.evolution.pageSize"
        max-size="15" class="pagination" boundary-links="true"
        on-select-page="pageChanged(page)"></pagination>
</div>