<global-filter></global-filter>

<h3>
    Showing {{optimizer.startIndex}} to {{optimizer.endIndex}} out of {{optimizer.count}}
</h3>

<pagination rotate="false"
    page="optimizer.page" total-items="optimizer.count" items-per-page="optimizer.pageSize"
    max-size="15" class="pagination" boundary-links="true"
    on-select-page="pageChanged(page)"></pagination>

<table class="table">
    <thead>
        <tr>
            <th style="width: 35%">Source</th>
            <th style="width: 35%">Destination</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="o in optimizer.items" ng-class-odd="'odd'">
            <td>
                <a href="#/optimizer/detailed?source={{o.source_se}}&destination={{o.dest_se}}&time_window={{filter.time_window}}">
                    <i class="icon-search"></i>
                </a>
                {{ o.source_se }}
            </td>
			<td>{{ o.dest_se }}</td>
       </tr>
    </tbody>
</table>

<pagination rotate="false"
    page="optimizer.page" total-items="optimizer.count" items-per-page="optimizer.pageSize"
    max-size="15" class="pagination" boundary-links="true"
    on-select-page="pageChanged(page)"></pagination>
