{% load settingsTag %}

<!doctype html>
<html lang="en" ng-app="ftsmon">
    <head>
        <meta charset="utf-8">

        <title>
          {% getSetting "SITE_NAME" %} FTS3
        </title>
        <link rel="shortcut icon" href="{% getSetting 'SITE_LOGO_SMALL' %}" />

        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" rel="stylesheet">
        <link href="{{STATIC_URL}}css/overrides.css" rel="stylesheet">
        <link href="{{STATIC_URL}}css/styles.css" rel="stylesheet">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <header class="header">
            <div class="navbar navbar-fixed-top navbar-inverse">
                <span class="brand">
                    <img class="" src="{{STATIC_URL}}img/loader.gif" data-ng-show="loading">
                    <span data-ng-show="!loading" data-ng-bind="lastRefresh" id="last-refresh-time"></span>
                </span>
                <div class="navbar-inner">
                    <div class="container">
                       <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                           <span class="icon-bar"></span>
                           <span class="icon-bar"></span>
                           <span class="icon-bar"></span>
                       </button>

                       <span class="brand">
                         <img style="height: 24px" src="{% getSetting 'SITE_LOGO' %}">
                       </span>

                        <div class="nav-collapse collapse">
                            <ul class="nav">
                                <li class="dropdown">
                                    <a href="#" data-toggle="collapse" data-target=".nav-collapse" apply-global-filter
                                            class="nav-split">Overview</a>
                                    <a href="#" class="dropdown-toggle nav-split-caret">
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#overview/atlas" data-toggle="collapse" data-target=".nav-collapse" apply-global-filter>ATLAS</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#jobs" data-toggle="collapse" data-target=".nav-collapse" apply-global-filter
                                            class="nav-split">Jobs</a>
                                    <a href="#" class="dropdown-toggle nav-split-caret">
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#transfers" data-toggle="collapse" data-target=".nav-collapse" apply-global-filter>Transfers</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle">
                                        Optimizer<b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#optimizer" data-toggle="collapse" data-target=".nav-collapse" apply-global-filter>Active</a></li>
                                    </ul>
                                </li>
                                <li><a href="#errors" data-toggle="collapse" data-target=".nav-collapse" apply-global-filter>Error reasons</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle">
                                        Statistics<b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#statistics/overview" data-toggle="collapse" data-target=".nav-collapse" apply-global-filter>Overview</a></li>
                                        <li><a href="#statistics/servers" data-toggle="collapse" data-target=".nav-collapse" apply-global-filter>FTS3 Servers</a></li>
                                        <li><a href="#statistics/vos" data-toggle="collapse" data-target=".nav-collapse" apply-global-filter>Per VO</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle">
                                        Configuration<b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#config/server" data-toggle="collapse" data-target=".nav-collapse">Server</a></li>
                                        <li><a href="#config/storages" data-toggle="collapse" data-target=".nav-collapse">Storages</a></li>
                                        <li><a href="#config/links" data-toggle="collapse" data-target=".nav-collapse">Links</a></li>
                                        <li><a href="#config/activities" data-toggle="collapse" data-target=".nav-collapse" apply-global-filter>Activities</a></li>
                                        <li><a href="#config/audit" data-toggle="collapse" data-target=".nav-collapse">Audit</a></li>
                                        <li><a href="#config/gfal2" data-toggle="collapse" data-target=".nav-collapse">GFAL2</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="pull-right">
                                <form class="navbar-search ng-pristine ng-valid" ng-submit="searchJob()">
                                    <input type="text" ng-model="jobId" class="search-query" placeholder="Job id"/>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div role="main">
            <div ng-view></div>
        </div>

        <!--  Scripts -->

        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.8.0/ui-bootstrap-tpls.min.js"></script>

        <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>

        <script>var STATIC_ROOT="{{STATIC_URL}}";</script>

        <script src="{{STATIC_URL}}js/resources.js"></script>
        <script src="{{STATIC_URL}}js/jobs.js"></script>
        <script src="{{STATIC_URL}}js/transfers.js"></script>
        <script src="{{STATIC_URL}}js/overview.js"></script>
        <script src="{{STATIC_URL}}js/atlas.js"></script>
        <script src="{{STATIC_URL}}js/optimizer.js"></script>
        <script src="{{STATIC_URL}}js/errors.js"></script>
        <script src="{{STATIC_URL}}js/config.js"></script>
        <script src="{{STATIC_URL}}js/statistics.js"></script>
        <script src="{{STATIC_URL}}js/global_filter.js"></script>

        <script src="{{STATIC_URL}}js/chart.js"></script>

        <script src="{{STATIC_URL}}js/ftsmon.js"></script>
    </body>
</html>
