<h3>Transfer '{{job.job.job_id}}' {{job.job.job_state}}</h3>

<div class="alert" data-ng-show="filter.reason">
    <strong>Filtered by error message</strong>
    {{filter.reason}}
    <button type="button" class="close" title="Remove filter" data-ng-click="resetReasonFilter()">&times;</button>
</div>

<p>
    <i class="icon-group"></i> VO: <span class="vo">{{job.job.vo_name}}</span><br/>
</p>
<div class="row-fluid">
    <div class="span6">
        <p>
            <i class="icon-user"></i> Delegation ID: {{job.job.cred_id}}<br/>
            <i class="icon-time"></i> Submitted time: {{job.job.submit_time}}<br/>
            <i class="icon-time"></i> Job finished: {{job.job.job_finished}}<br/>
            <i class="icon-star"></i> Priority: {{job.job.priority}}<br/>
            <i class="icon-download-alt"></i> Bring online: {{job.job.bring_online}}<br/>
        </p>
    </div>
    <div class="span6">
        <p>
            <i class="icon-hdd"></i> Received by {{job.job.submit_host}}<br/>
            <i class="icon-remove"></i> Overwrite flag: {{job.job.overwrite_flag}}<br/>
            <i class="icon-refresh"></i> Job type: {{job.job.job_type}}<br/>
            <i class="icon-ban-circle"></i> Cancel flag: {{job.job.cancel_job}}<br/>
            <i class="icon-time"></i> Pin lifetime: {{job.job.copy_pin_lifetime}}<br/>
        </p>
    </div>
</div>
<p>
   <i class="icon-pencil"></i> Metadata:
   <pre>{{job.job.job_metadata}}</pre>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Total size</th>
            <th>Done</th>
            <th>Submission time</th>
            <th>Start time</th>
            <th title="Since start time">Running time</th>
            <th title="Average throughput achieved per file">Avg. file throughput</th>
            <th title="Total current throughput of the full job">Current job throughput</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{files.stats.total_size|filesize}}</td>
            <td>{{files.stats.total_done|filesize}}</td>
            <td>{{job.job.submit_time}}</td>
            <td>{{files.stats.first_start}} (<span style="color:red">+{{files.stats.queued_first}}s</span>)
            <td><span data-optional-number="{{files.stats.time_transfering}}" data-decimals="0" data-suffix="s"></span></td>
            <td><span data-optional-number="{{files.stats.avg_throughput}}" data-decimals="2" data-suffix="MB/s"></span></td>
            <td><span data-optional-number="{{files.stats.current_throughput}}" data-decimals="2" data-suffix="MB/s"></span></td>
        </tr>
        <tr>
            <td colspan="7" class="progress">
                <progressbar max="files.stats.total_size" value="files.stats.total_done"></progressbar>
            </td>
        </tr>
    </tbody>
</table>

<h4>Showing {{files.files.startIndex}} to {{files.files.endIndex}} out of {{files.files.count}}</h4>
<p class="btn-group" data-ng-click="filterByState()">
    <button type="button" class="btn btn-info btn-small"
            data-ng-model="filter.state.submitted" data-btn-checkbox
            data-ng-disabled="!job.states.SUBMITTED">{{job.states.SUBMITTED}} SUBMITTED</button>
    <button type="button" class="btn btn-delete btn-small"
            data-ng-model="filter.state.delete" data-btn-checkbox
            data-ng-disabled="!job.states.DELETE">{{job.states.DELETE}} DELETE</button>
    <button type="button" class="btn btn-info btn-small"
            data-ng-model="filter.state.ready" data-btn-checkbox
            data-ng-disabled="!job.states.READY">{{job.states.READY}} READY</button>
    <button type="button" class="btn btn-staging btn-small"
            data-ng-model="filter.state.staging" data-btn-checkbox
            data-ng-disabled="!job.states.STAGING">{{job.states.STAGING}} STAGING</button>
    <button type="button" class="btn btn-primary btn-small"
            data-ng-model="filter.state.active" data-btn-checkbox
            data-ng-disabled="!job.states.ACTIVE">{{job.states.ACTIVE}} ACTIVE</button>
    <button type="button" class="btn btn-primary btn-small"
            data-ng-model="filter.state.started" data-btn-checkbox
            data-ng-disabled="!job.states.STARTED">{{job.states.STARTED}} STARTED</button>
    <button type="button" class="btn btn-danger  btn-small"
            data-ng-model="filter.state.canceled" data-btn-checkbox
            data-ng-disabled="!job.states.CANCELED">{{job.states.CANCELED}} CANCELED</button>
    <button type="button" class="btn btn-danger btn-small"
            data-ng-model="filter.state.failed" data-btn-checkbox
            data-ng-disabled="!job.states.FAILED">{{job.states.FAILED}} FAILED</button>
    <button type="button" class="btn btn-success btn-small"
            data-ng-model="filter.state.finished" data-btn-checkbox
            data-ng-disabled="!job.states.FINISHED">{{job.states.FINISHED}} FINISHED</button>
    <button type="button" class="btn btn-small"
            data-ng-model="filter.state.not_used" data-btn-checkbox
            data-ng-disabled="!job.states.NOT_USED">{{job.states.NOT_USED}} NOT_USED</button>
</p>

<pagination rotate="false"
    page="files.files.page" total-items="files.files.count" items-per-page="files.files.pageSize"
    max-size="15" class="pagination" boundary-links="true"
    on-select-page="pageChanged(page)"></pagination>

<table class="table table-small">
    <thead>
        <tr>
            <th style="width: 8%">
               <span data-order-by="id">File ID</span>
            </th>
            <th style="width: 6%">File State</th>
            <th style="width: 7%">
               <span data-order-by="size">File Size</span>
            </th>
            <th style="width: 7%">
               <span data-order-by="throughput">Throughput</span>
            </th>
            <th style="width: 6%">Remaining</th>
            <th style="width: 10%">
               <span data-order-by="start_time">Start Time</span>
            </th>
            <th style="width: 10%">
               <span data-order-by="finish_time">Finish Time</span>
            </th>
            <th style="width: 10%">
                <span data-order-by="staging_start">Staging Start</span>
            </th>
            <th style="width: 10%">
                <span data-order-by="staging_finished">Staging End</span>
            </th>
            <th style="width: 6%"></th>
        </tr>
    </thead>
    <tbody data-ng-repeat="file in files.files.items">
        <tr class="transfer_header">
            <td>
                <i class="icon-plus" data-ng-click="file.show = !file.show"></i>
                {{file.file_id}}
                <i class="icon-refresh" data-ng-show="file.retry"></i>
            </td>
            <td class="status {{file.file_state}}">
                {{file.file_state}}
                <span data-ng-show="file.source_surl == file.dest_surl" title="Staging only">(B)</span>
                <span data-ng-show="file."
            </td>
            <td>{{file.filesize|filesize}}</td>
            <td>{{file.throughput|number:2}} MB/s</td>
            <td>{{getRemainingTime(file)}}</td>
            <td>{{file.start_time}}</td>
            <td>{{file.finish_time}}</td>
            <td>{{file.staging_start}}</td>
            <td>{{file.staging_finished}}</td>
            <td>
                <span data-ng-if="file.log_file">
                   <a href="{{file.log_file}}">
                       <i class="glyphicon icon-file"></i> Log
                   </a>
                </span>
            </td>
        </tr>
        <tr class="nested">
            <td colspan="10" class="hscroll">
                <i class="glyphicon icon-home" title="Source"></i> {{file.source_surl}}
            </td>
        </tr>
        <tr class="nested">
            <td colspan="10" class="hscroll">
                <i class="glyphicon icon-download-alt" title="Destination"></i> {{file.dest_surl}}
            </td>
        </tr>
        <tr style="background: #CCC" data-ng-show="file.show">
            <td colspan="10">
                <ul>
                    <li>Transfer host: {{file.transfer_host}}</li>
                    <li>Staging host: {{file.staging_host}}</li>
                    <li>PID: {{file.pid}}</li>
                    <li>Hash: {{file.hashed_id|hex}}</li>
                    <li>Activity: {{file.activity}}</li>
                    <li>Selection strategy: {{file.selection_strategy}}</li>
                    <li>Attempts: {{file.retry}}</li>
                    <li>Duration: {{file.tx_duration}} seconds</li>
                    <li>Checksum: {{file.checksum}}</li>
                    <li>User specified size: {{file.user_filesize}}</li>
                    <li>Configuration: {{file.symbolicname}}</li>
                    <li>Parameters: {{file.internal_file_params}}</li>
                    <li>Finished time: {{file.finish_time}}</li>
                    <li>Error reason: {{file.reason}}</li>
                    <li>Log file:
                       <p data-ng-if="file.log_file">
                           <a href="{{file.log_file}}">
                               {{file.log_file}}
                           </a><br/>
                           <span data-ng-switch="file.log_debug">
                           <a data-ng-switch-when="1" href="{{file.log_file}}.debug">
                               {{file.log_file}}.debug
                           </a>
                           </span>
                       </p>
                    </li>
                    <li>Metadata:
                        <pre>{{file.file_metadata}}</pre>
                    </li>
                    <li data-ng-show="file.retry">Retries:
                        <dl data-ng-repeat="retry in file.retries">
                            <dt>{{retry.datetime}}</dt>
                            <dd>{{retry.reason}}</dd>
                        </dl>
                    </li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>

<pagination rotate="false"
    page="files.files.page" total-items="files.files.count" items-per-page="files.files.pageSize"
    max-size="15" class="pagination" boundary-links="true"
    on-select-page="pageChanged(page)"></pagination>
